<head>
2 <title>Add a Contact </title>
3 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
5 </head>
6 <div class = "container">
7   <h1 class= "text-center">Add a Contact</h1>
8   <form action="/contacts/new" method="post">
9     <div class = "form-group">
10       <label for="name">Name</label>
11       <input class = "form-control"  id="name" name="name" type="text" value = "test">
12     </div>
13     <div class = "form-group">
14       <label for="phoneNumber">Phone Number</label>
15       <input class = "form-control"  id="phoneNumber" name="phoneNumber" type="text" value = "test">
16     </div>
17     <div class = "form-group">
18       <label for="street">Street Address</label>
19       <input class = "form-control"  id="street" name="street" type="text" value = "test">
20     </div>
21     <div class = "form-group">
22       <label for="city">City</label>
23       <input class = "form-control"  id="city" name="city" type="text" value = "test">
24     </div>
25     <div class = "form-group">
26       <label for="state">State</label>
27      <input class = "form-control"  id="state" name="state" type="text" value = "test">
28     </div>
25     <div class = "form-group">
26       <label for="zip">Zip</label>
27      <input class = "form-control"  id="zip" name="zip" type="text" value = "test">
28     </div>
29     <button type="submit"  class="btn btn-default center-block" >Submit</button>
30   </form>
31 </div>
